h1 {
  text-align: center;
}
div {
    text-align: center;
  }
p {
    text-align: center;
  }
html {
  background-color: white;
}
body {
  background-color: lightblue;
  width= 600px;
  border-width: 2px;
  border-style: dotted;
  border-color: gray;
}
.p1 {
    font-family: "Tahoma", Times, serif;
    color: red;
    font-size: 40px;
  }